# Environments
.env
.venv
env/
venv/
__pycache__/

# Data & Outputs
data/*
*.pdf
*.md

# Exceptions (Files we DO want to push)
!data/sample_lecture.pdf
!README.md
!CHANGELOG.md

# OS Files
.DS_Store
Thumbs.db